extends layout.pug

block body
  include header.pug

  br
  br
  section(content)
    div(row left card)
      img(src=user.avatar alt='Avatar' avatar large)
      div(column left)
        span= user.name
        span(subtitle break)= user.email
        span
        div(row)
          form(action='/logout')
            button(type='submit' text) Cerrar sesión
  br
  br
  section(content)
    h2 Perfil
    div(subtitle) Esta información estará disponible para todas las aplicaciones.
    br
    form(method='post' card column gap narrow)
      div(column)
        label(for='name' row) Nombre
        input#name(
          name='name'
          value=user.name
          placeholder='Nombre'
          required
          text
        )
        span(caption) Nombre público para todas las aplicaciones que autorices. Puedes cambiarlo en cualquier momento.
      button(type='submit' block) Guardar
  br
  br
  br
  section(content)
    h2 Aplicaciones autorizadas
    if authorizedApplications && authorizedApplications.length > 0
      div(subtitle)
        span Le has dado acceso a&nbsp;
        if authorizedApplications.length == 1
          span(bold) una aplicación&nbsp;
        else
          span(bold) #{authorizedApplications.length} aplicaciones&nbsp;
        span a tu cuenta.
      br
      ul(column gap)
        each application in authorizedApplications
          li(card row wrap)
            div(row)
              div(column)
                img(src=application.avatar title=application.name avatar)
              div(column)
                span= application.name
                div(paragraph)= application.authorizedAt
                div(caption row left gap small wrap)
                  span Aplicacion creada por&nbsp;
                  img(src=application.owner.avatar alt='Avatar' avatar tiny)
                  span(bold)= application.owner.name
            form(action='/account/revoke' method='post')
              input(type='hidden' name='application_id' value=application.id)
              button(type='submit' text) Revocar acceso
    else
      br
      div(card center)
        br
        br
        div(subtitle) No tienes aplicaciones autorizadas
        br
        br
  br
  br
  br
  section(content)
    h2 Opciones de desarrollador
    br
    div(card)
      h3 Aplicaciones de OAuth
      div(subtitle) Las aplicaciones de OAuth son usadas para acceder a la API de Spot desde otras aplicaciones.
      br
      a(href='/account/applications')
        button(type='submit' text) Ir a mis aplicaciones de OAuth
    br
    div(card)
      h3 Personal access tokens
      div(subtitle) Genera tu token de acceso personal para acceder a la API de Spot. Disponible próximamente.
  br
  br
  br
