extends layout.pug

block styles
  link(rel='stylesheet' href='/static/breadcrumb.css')

block body
  include header.pug

  section(content)
    nav(breadcrumb)
      a(href='/account') Mi cuenta
      a(href='/account/applications') Mis aplicaciones
      a(href=`/account/applications/${application.slug}` active)= application.name

  section(content)
    h2= application.name
    div(subtitle) Eres el propietario de esta aplicación.
    br
    form(method='post' card column gap narrow)
      img(src=application.avatar title=application.name avatar large)
      input(type='hidden' name='application_id' value=application.id)
      div(column)
        label(for='avatar') Logo de la aplicación
        input#avatar(name='avatar' placeholder='https://example.com/logo' text)
        span(caption) URL pública de la imagen. No se actualizará si lo dejas vacío.
      div(column)
        label(for='name') Nombre de la aplicación
        input#name(
          name='name'
          placeholder='Nueva aplicación'
          value=application.name
          required
          text
        )
        span(caption) Algo que los usuarios reconocerán y confiarán.
      div(column)
        label(for='description') Breve descripción de la aplicación
        input#description(
          name='description'
          placeholder='Opcional'
          value=application.description
          text
        )
      div(column)
        label(for='url') Callback URL
        input#url(
          type='url'
          name='callback_url'
          placeholder='https://example.com/callback'
          value=application.redirectUri
          required
          text
        )
        span(caption) Se redirigirá a los usuarios a esta URL después de obtener la autorización a tu aplicación.
      span
      button(type='submit' block) Actualizar aplicación
  br
  br
  section(content)
    h2 Privacidad
    div(subtitle) Esta información es privada. No la compartas con nadie.
  br
  section(content)
    div(card)
      h3 Client ID
      div(subtitle) Identificador de tu aplicación.
      br
      div= application.clientId
  br
  section(content)
    div(card)
      h3 Client secret
      div(subtitle) Clave secreta para autenticarte como aplicación.
      br
      div
        if application.clientSecret
          span#secret(break)= application.clientSecret
        else
          span ********
        br
        br
        span(paragraph) Puedes generar una nueva clave en cualquier momento sin perder las anteriores.
        br
        form(action='/account/generate' method='post')
          input(type='hidden' name='application_id' value=application.id)
          input(type='hidden' name='slug' value=application.slug)
          button(type='submit' text) Generar nueva clave
  br
  br
