extends layout.pug

block styles
  link(rel='stylesheet' href='/static/breadcrumb.css')

block body
  include header.pug

  section(content)
    nav(breadcrumb)
      a(href='/account') Mi cuenta
      a(href='/account/applications' active) Mis aplicaciones

  section(content)
    h2 Nueva aplicación
    div(subtitle) Registra una nueva aplicación para poder usar la API de Spot.
    br
    form(action='/account/applications' method='post' card column gap narrow)
      div(column)
        label(for='name') Nombre de la aplicación
        input#name(name='name' placeholder='Nueva aplicación' required text)
        span(caption) Algo que los usuarios reconocerán y confiarán.
      div(column)
        label(for='description') Breve descripción de la aplicación
        input#description(name='description' placeholder='Opcional' text)
      div(column)
        label(for='url') Callback URL
        input#url(
          type='url'
          name='callback_url'
          placeholder='https://example.com/callback'
          required
          text
        )
        span(caption) Se redirigirá a los usuarios a esta URL después de obtener la autorización a tu aplicación.
      span
      button(type='submit' block) Registrar aplicación
  br
  br
  section(content)
    h2 Mis aplicaciones
    div(subtitle) Estas son aplicaciones que has registrado para usar la API de Spot.
    div(column)
      if applications && applications.length > 0
        br
        ul(column grid gap)
          each application in applications
            li(card)
              a(href='/account/applications/' + application.slug)
                div(row left)
                  div(column)
                    img(
                      src=application.avatar
                      title=application.name
                      avatar
                      small
                    )
                  div(column hidden)
                    span= application.name
                    div(caption ellipsis)= application.description || 'Sin descripción'
      else
        br
        div(card center)
          br
          br
          div(subtitle) Aún no tienes ningun aplicación registrada
          br
          br
  br
  br
