extends layout.pug

block body
  main(content narrow center)
    br
    br
    img(src=application.avatar title=application.name avatar large)
    header
      h1 Autorizar #{application.name}
    br
    p
      span
        a(href=redirectDomain link) #{application.name}&nbsp;
      br
      span quiere acceder a tu cuenta de Spot
    br
    form(method='post' card column gap)
      div(row left divider)
        img(src=user.avatar alt=user.name avatar)
        div(column left)
          span= user.name
          span(caption)= user.email
      div(column left)
        span Datos de tu cuenta
        span(subtitle) Correo, nombre y foto (solo lectura)
      div(column left)
        span Almacenamiento
        span(subtitle) Acceso a tu almacenamiento de Spot
      span
      div(row)
        button(type='button' block color='none' onclick='history.back()') Cancelar
        button(type='submit' block) Autorizar
      div(column)
        span(caption) Después de autorizar se redireccionará a
        span(caption bold) #{redirectDomain}
    br
    div(column)
      span(caption) Esta aplicación es propiedad de #{application.owner.name}
      span(caption) No es operada ni supervisada por Spot
    br
    br
