footer
  div(content)
    br
    br
    br
    h1 Spot
    p(narrow) Spot es un servicio que te permite integrar una API REST dentro de tu aplicación para guardar datos del usuario en la nube.
    br
    p
      span(caption) Desarrollado por
      a(href=links.creator pointer target='_blank') Marcelo Velasquez
    br
    br
    div(row gap right wrap)
      div: a(href=links.github target='_blank' pointer subtitle) GitHub
      div: a(href=links.oauth target='_blank' pointer subtitle) OAuth
      div: a(href=links.documentation target='_blank' pointer subtitle) Documentación
    br
    br
    div(center): span(caption) © #{year}. Todos Los Derechos Reservados
    br
    br
