extends layout.pug

block styles
  link(rel='stylesheet' href='/static/form.css')
  link(rel='stylesheet' href='/static/popup.css')

block scripts
  script(src='/static/scripts/login.js')

block body
  main
    header
      h1 Spot
    p El c칩digo de acceso ser치 enviado al correo, no se necesita registro previo.
    form(method='post' action=action)
      div(column)
        label(for='email' row)
          span Correo
          button#sender(type='button' text) Enviar c칩digo
        input#email(
          name='email'
          type='email'
          placeholder='user@example.com'
          autofocus
          required
          text
        )
      div(column)
        label(for='code' row) C칩digo de acceso
        input#code(
          name='code'
          placeholder='000000'
          autocomplete='off'
          pattern='([0-9]{6})'
          required
          text
        )
      span
      div(column)
        button(type='submit' block) Acceder
    footer
      a(href='/' target='_blank') Inicio
      a(href='/' target='_blank') OAuth
      a(href='/' target='_blank') Contacto
