extends layout.pug

block styles
  link(rel='stylesheet' href='/static/popup.css')

block scripts
  script(src='/static/scripts/login.js')

block body
  main(content narrow center)
    br
    br
    header
      h1 Spot
    br
    p
      span El código de acceso será enviado al
      br
      span correo. No se necesita registro previo.
    br
    form(method='post' action=action card column gap)
      div(column)
        label(for='email' row)
          span Correo
          button#sender(type='button' text) Enviar código
        input#email(
          name='email'
          type='email'
          placeholder='user@example.com'
          autofocus
          required
          text
        )
      div(column)
        label(for='code' row) Código de acceso
        input#code(
          name='code'
          placeholder='000000'
          autocomplete='off'
          pattern='([0-9]{6})'
          required
          text
        )
      span
      div(column)
        button(type='submit' block) Acceder
    br
    div(column)
      span(caption) El código de acceso vence en 24 horas
    br
    br
